node_modules
**/node_modules
.git
.github
**/.turbo
**/dist
**/coverage
**/.jest-localstorage
apps/mobile
data
diagrams
docs
*.md
.env
.env.*
!.env.example
!**/.env.example
!**/.env.uat.example
!**/.env.prod.example
apps/api/.env.local
